.container{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr;
    grid-template-areas:
        "block1 block1 block1"
        "block2 block3 block4"
        "block2 block5 block5"
        "block6 block6 block7"
        "block8 block8 block8";
    gap: 5px;
}

.container .block{
    padding:20px;
    color: black;
    font-size: 4em;
    font-weight:bold;
    text-align:center;

}

.block.block1{
    grid-area: block1;
    background-color: purple;
 }
.block.block2{
    grid-area: block2;
    background-color: darkblue;
}
.block.block3{
    grid-area: block3;
    background-color: darkgreen;
}
.block.block4{
    grid-area: block4;
    background-color: darkred;
}
.block.block5{
    grid-area: block5;
    background-color: yellowgreen;
}
.block.block6{
    grid-area: block6;
    background-color: darkslategrey;
}
.block.block7{
    grid-area: block7;
    background-color: saddlebrown;
}
.block.block8{
    grid-area: block8;
    background-color: mistyrose;
}
